@import "../../styles";

app-button {
  @include app-button;
  position: fixed;
  right: 20px;
  top: 20px;
  color: #6a38ff;
  font-size: 25px;
}
.columns {
  column-count: 4;
}

.tercio {
  max-height: 50%;
}
