<app-button><a
    routerLink="/login"
    routerLinkActive="active"
  >Inicio</a>
</app-button>
<div class="chart-wrapper tercio">
  <span>Valores actuales</span>
  <canvas
    baseChart
    [datasets]="lineChartData"
    [labels]="lineChartLabels"
    [options]="lineChartOptions"
    [colors]="lineChartColors"
    [legend]="lineChartLegend"
    [chartType]="lineChartType"
    [plugins]="lineChartPlugins"
  >
  </canvas>
</div>
<div class="columns">
  <div
    class="chart-wrapper"
    *ngFor="let chart of charts; let i = index"
  >
    <span>{{ chart.name }}</span>
    <canvas
      baseChart
      [datasets]="chart.data"
      [labels]="chart.labels"
      [options]="lineChartOptionsLine"
      [colors]="lineChartColors"
      [legend]="lineChartLegend"
      [chartType]="'line'"
      [plugins]="lineChartPlugins"
    >
    </canvas>
  </div>

</div>
