<operation-timer>{{ timer }}</operation-timer>
<div
  #container
  class="container"
>
  <operation-container *ngFor="let ejercicio of this.ejercicios; index as i">
    <operation-number class="numero">{{ (i + 1) + '. ' }}</operation-number>
    <operation-field>{{ ejercicio.a + ' ' + ejercicio.operation + ' ' + ejercicio.b + ' = '}}</operation-field>
    <input
      type="number"
      [disabled]="ejercicio.disabled"
      [(ngModel)]="ejercicio.answer"
      (keydown)="keyDown($event, i)"
    >
    <operation-result
      show-result
      [ngClass]="{valid: ejercicio.result && ejercicio.disabled, invalid: ejercicio.result === false && ejercicio.disabled}"
    ></operation-result>
  </operation-container>
</div>
<app-result
  class="resultado"
  *ngIf="points !== null"
>Resultado: {{ points }}</app-result>
<app-button
  class="reset"
  *ngIf="points !== null"
  (click)="refresh()"
>Repetir</app-button>
<app-button
  class="back"
  *ngIf="points !== null"
  (click)="reload()"
>Inicio</app-button>
<chart-container *ngIf="points">
  <div class="chart-wrapper">
    <span>{{ exercise.name }}</span>
    <canvas
      baseChart
      [datasets]="lineChartData"
      [labels]="lineChartLabels"
      [options]="lineChartOptions"
      [colors]="lineChartColors"
      [legend]="lineChartLegend"
      [chartType]="lineChartType"
      [plugins]="lineChartPlugins"
    >
    </canvas>
  </div>
</chart-container>
