@import "../../styles";

user-selector {
  text-align: center;
  display: flex;
  flex-direction: column;
  user-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 25px;
    @include app-button;
  }
}

app-button {
  @include app-button;
  position: fixed;
  right: 20px;
  top: 20px;
  color: #6a38ff;
  font-size: 25px;
}

app-button[create-user] {
  @include app-button;
  width: 200px;
  position: fixed;
  left: 20px;
  top: 20px;
  color: #6a38ff;
  font-size: 25px;
}
