<user-selector *ngIf="!user">
  <user-name
    *ngFor="let user of users"
    (click)="selectUser(user)"
  >
    {{ user }}
  </user-name>
</user-selector>
<exercise-selector *ngIf="user && !exercise">
  <exercise-name
    *ngFor="let exercise of exercises"
    (click)="selectExercise(exercise)"
  >
    {{ exercise.name }}
  </exercise-name>
</exercise-selector>
<app-exercise
  *ngIf="user && exercise"
  [exercise]="exercise"
  (result)="updateResult($event)"
></app-exercise>
<app-result
  class="resultado"
  *ngIf="points !== null"
>Resultado: {{ points }}</app-result>
<app-button
  class="resultado"
  *ngIf="points !== null"
  (click)="reload()"
>Repetir</app-button>
<chart-container *ngIf="users.length > 0 && (!user || points)">
  <div
    *ngFor="let exercise of exercises"
    class="chart-wrapper"
  >
    <span>{{ exercise.name }}</span>
    <canvas
      baseChart
      [datasets]="lineChartData[exercise.level]"
      [labels]="lineChartLabels[exercise.level]"
      [options]="lineChartOptions"
      [colors]="lineChartColors"
      [legend]="lineChartLegend"
      [chartType]="lineChartType"
      [plugins]="lineChartPlugins"
    >
    </canvas>
  </div>
</chart-container>
