.resultado {
  position: fixed;
  left: 20px;
  top: 20px;
  position: fixed;
  color: #6a38ff;
  font-family: Roboto;
  font-size: 25px;
  background-color: #efefef;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 2px 2px #797979;
}
