<operation-timer>{{ timer }}</operation-timer>
<div #container>
  <operation-container *ngFor="let ejercicio of this.ejercicios; index as i">
    <operation-number class="numero">{{ (i + 1) + '. ' }}</operation-number>
    <operation-field>{{ ejercicio.a + ' ' + ejercicio.operation + ' ' + ejercicio.b + ' = '}}</operation-field>
    <input
      type="number"
      [disabled]="ejercicio.disabled"
      [(ngModel)]="ejercicio.answer"
      (keydown)="keyDown($event, i)"
    >
    <operation-result
      show-result
      [ngClass]="{valid: ejercicio.result && ejercicio.disabled, invalid: ejercicio.result === false && ejercicio.disabled}"
    ></operation-result>
  </operation-container>
</div>
